:root{
  --font-size-s: 16px;
  --font-size-l: 18px;
  --primary-color: #F8F9FD;
  --primary-color-inverted:#FFFFFF;
  --secondary-color: #3B82F6;
  --secondary-color-incerted: #EF4444;
  --text-color: black;
  --text-color-inverted: #adadae;
  --text-collor-link:#009BFF;
}
