.button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  color: var(--primary-color-bg-light);
  border: none;
  cursor: pointer;
  font-size: var(--font-size-small);
  transition: 0.4s ease;
  &:active{
    scale: 0.95;
    &:disabled:active{
      scale: 1
  }
  }

  &.error {
    background-color: var(--error-color);
  }
  &.primary {
    background-color: var(--primary-color);
  }

  &:hover {

    &.error {
      background-color: var(--error-color-light);
    }
    &.primary {
      background-color: var(--primary-color-dark);
      &:disabled:hover {
        background-color: var(--primary-color);

      }
    }
  }
}


.general {
  width: 90px;
}

.square {
  width: 40px;
}