.todoItem {
  width: 400px;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color-inverted);
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 7px 7px  var(--text-color-inverted);

  .buttons{
    display: flex;
    gap: 10px;
    align-items: end;
  }

  .textarea {
    width: 230px;
    overflow-y: auto;
    resize: none;
    padding: 5px;
    outline: none;
    border: 1px solid var(--text-color-inverted);
    border-radius: 7px;
    font-size: var(--font-size-small);
  }

  .editingButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


}
.editing{
  padding-left: 30px;
}
.error{
  color: var(--secondary-color-inverted);
  width: 230px;
  text-decoration: none !important;
}

.fadeIn {
  animation: FadeIn linear 0.5s;
}
.fadeOut {
  animation: FadeOut linear 0.5s;
}

@keyframes FadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes FadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

