.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .input {
    width: 300px;
    height: 40px;
    border: none;
    background: none;
    border-bottom: 1px solid var(--text-color-grey);
    outline: none;
  }

  .button{
    width: 100px;
    height: 40px;
  }
  .formItem {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
}
