.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 14px;

  .checkboxInput {
    appearance: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius:50%;
    border: solid 1px var(--text-color-inverted);
    background: var(--primary-color-inverted);

    transition:  ease-in-out 0.3s;

    &:hover {
      scale: 1.2;
      background-color: var(--secondary-color);
    }
    &:checked:hover {
      scale: 1;
    }
  }

  .checkboxLabel{
    font-size: var(--font-size-s);
    max-width: 200px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: anywhere;
  }

  .checkboxInput:checked {
    background: var(--secondary-color);
  }

  .checkboxInput:checked::after{
    content: "\2714";
    position: absolute;
    font-size: var(--font-size-s);
    color: var(--primary-color-inverted);
  }

  .checked {
    color: var(--text-color-inverted);
    text-decoration: line-through;
  }

}


